@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #0f766e;
    --primary-foreground: #ffffff;
  }

  * {
    @apply border-[hsl(var(--border))];
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
}